<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="englishExaminationService"
          class="com.spring.core.spring.dependency.injection.EnglishExaminationService">
    </bean>

    <bean id="englishCoach"
          class="com.spring.core.spring.dependency.injection.EnglishCoach">
        <constructor-arg ref="englishExaminationService"/>
    </bean>

    <bean id="historyCoach"
          class="com.spring.core.spring.dependency.injection.HistoryCoach">
        <property name="examinationService" ref="historyExaminationService"/>
    </bean>

    <bean id="historyExaminationService"
          class="com.spring.core.spring.dependency.injection.HistoryExaminationService">
    </bean>

</beans>